header {
  background-color: #823d2c;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

nav {
  background-color: #a85b48;
  text-align: center;
  padding: 10px 0;
  color: white;
}
